html,
body {
  padding: 0;
  margin: 0;
  line-height: 0;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;

  width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

:root {
  /* COLOR*/
  --bg: #2c2c2c;
  --bg-light: #ececec;

  /* for Font color --black */
  --black-dark: #1e222a;
  --black: #252a34;
  --black-light: #51555d;
  --black-light-2: #666a71;
  --black-light-3: #d3d4d6;

  --grey-light-1: #eaeaea;
  --grey-light-2: #eeeeee;
  --grey-light-3: #f7f7f7;
  /* 
  --grey-dark-1: #5c5c5c;
  --grey-dark-2: #474747;
  --grey-dark-3: #333; */

  --white: #fff;

  /* FONT */
  --ff-display: "Crimson Text", serif;

  --fs-ss: 1.2rem;
  --fs-s: 1.6rem;
  --fs: 1.8rem;
  --fs-x: 2rem;
  --fs-xl: 2.4rem;
  --fs-xxl: 3.5rem;
  --fs-xxxl: 4.5rem;

  /* MARGIN */
  --mg-xs: 0.5rem;
  --mg-s: 1rem;
  --mg-m: 2.5rem;
  --mg-x: 5rem;
  --mg-xl: 8rem;
  --mg-xxl: 9rem;

  /* PADDING */

  --pd-xs:.5rem
  --pd-s:.8rem
  --pd:1rem
  --pd-m:1.5rem
  --pd-x:2rem
  --pd-xl:3rem

  /* BOX SHADOW */
  --bs-s: 0 0.5rem 5rem rgba(0, 0, 0, 0.1);
  --bs-m: 0 1rem 5rem rgba(0, 0, 0, 0.15);

  /* BORDER RADIUS */
  --br-m: 5px;
  --br-x: 12px;

  /* SPACE */
  --container:144rem;
}


